!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title Spelling Practice
          %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "custom.css", :rel => "stylesheet"}
              %script{:src => "vendor/jquery-2.1.4.js", :type => "text/javascript"}
              %script{:src => "vendor/moment.js", :type => "text/javascript"}
              %script{:src => "js/local_storage.js", :type => "text/javascript"}
              %script{:src => "js/spell.js", :type => "text/javascript"}
              %script{:src => "vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
              /[if lt IE 9]
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Spelling Exercise Utility
    .container
      %h1 Spelling Exercise Utility
      %p Practice spelling with this web app. Make your own list or use the default.
      %p#age
      #question
        .alert{:role => "alert"}
        %h3 Hint
        %center#revealed
        %dl
          %dt Stat
          %dd#hint_stat
          %dt Definition
          %dd#hint_define
          %dt Example
          %dd#hint_sentence
      #answer
        %input#input_answer{:name => "input", :type => "text", :value => ""}
